numpy==2.2.5
opencv-python==4.11.0.86
pytesseract==0.3.13
pdf2image==1.17.0
pillow==11.2.1
azure-core==1.34.0
azure-ai-documentintelligence==1.0.2
langchain-openai==0.3.16
streamlit==1.45.1
python-dotenv==1.1.0

